

{% extends 'base.html' %}

{% block title %}Informationen{% endblock %}

{% block content %}
<div class = "container">
    <div class ="container">
        <h1>Informationen</h1>

        <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Anbieter:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{fahrt["email"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Fahrtdatum und -uhrzeit:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["fahrtdatumzeit"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Von:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["startort"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Nach:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["zielort"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Anzahl freier Plätze:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["freiePlaetze"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Fahrtkosten:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["fahrtkosten"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Status:</label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["status"]}}</label>
            </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <label for="" class="form-label">Beschreibung: </label>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label">{{ fahrt["beschreibung_string"]}}</label>
            </div>
        </div>

    </div>
    <hr style="border-color: green;">
    <div class = "row">
        <h1>Aktionsleiste</h1>
        <div class="col-md-5">
            <label for="" class="form-label">Anzahl Plätze für Reservierung</label>
            <select class="form-select" aria-label=".form-select-sm example" name="Anzahl_Plaetze" required>
                <option value=1>1</option>
                <option value=2>2</option>
            </select>

        </div>
        <div class="col-auto me-auto">

        </div>
        <div class="col-auto">
            <div class="d-grid gap-2">

                <form action="/reservieren/{{ fahrt_id }}" method="post">
                    <button type="submit"  class="btn btn-primary">Fahrt reservieren</button>
                </form>
                <form action="/delete/{{ fahrt_id }}" method="post">
                    <button type="submit" class="btn btn-danger">Fahrt löschen</button>
                </form>
            </div>
        </div>
    </div>

    <hr style="border-color: green;">
    <div class = "row">
        <div class="col-md-8">
            <h1>Bewertungen</h1>
        </div>
        <div class="col-md-4">
            <h4>Durchschnittsrating: {{ durchschnitt_rating }}</h4>
        </div>
    </div>

    <!-- Bewertungen -->
    {% if bewertungen %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Benutzer</th>
                    <th scope="col">Bewertungstext</th>
                    <th scope="col">rating</th>
                </tr>
            </thead>
            <tbody>
                {% for bewertung in bewertungen %}
                    <tr>
                        <td>{{ bewertung[0] }}</td>
                        <td>{{ bewertung[1] }}</td>
                        <td>{{ bewertung[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}

        <div class="text-muted text-center mt-3">
            Keine Bewertungen für diese Fahrt vorhanden. <br>
            Sei der erste der diese Fahrt bewertet ;)
        </div>

    {% endif %}




<!--
    <div class = "row">
        <div class="col-md-4">
            E-Mail
        </div>
        <div class="col-md-4">
            Bewertungskommentar
        </div>
        <div class="col-md-4">
            Rating
        </div>
    </div>
    -->
    <div class = "row">
        <div class="col-auto me-auto">

        </div>
        <div class="col-auto">
            <a href="/new_rating/{{ fahrt_id }}" class="btn btn-primary" role="button">Fahrt bewerten</a>
        </div>
    </div>
</div>
{% endblock %}